* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #1e1e2f;
  color: white;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #2a2a4a;
  padding: 25px;
  width: 260px;
  border-radius: 8px;
}

.card input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #4f7cff;
  border: none;
  color: white;
}

.wrap {
  display: flex;
  height: 100vh;
}

.users {
  width: 200px;
  background: #252540;
  padding: 10px;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.send {
  display: flex;
}

.send input {
  flex: 1;
  padding: 10px;
}
